.rss {
	height:150px; width:250px;
    border:1px solid black;
    padding:15px;
}
.rss-image-wrapper{
	display:block;
	position:relative;
	background-color:#d6e0ea;
}
.rss-li-count{
	-webkit-border-radius:.3125em;
	border-radius:.3125em;
	right:3.2em;
	position:absolute;
	font-size:11px;font-weight:500;text-align:center;
	border-width:1px;border-style:solid;padding:0 .48em;line-height:1.6em;
	min-height:1.6em;min-width:.64em;right:.8em;top:50%;margin-top:-.88em;
	background-color:#8B4513;
	color:white;	
}
.rss-image{
	float:left;
	border-radius:0;
	width: 20px;
	height: 25px;
	margin-top:0px;
	margin-bottom: 0px;
	padding:0;
	opacity:0.96;
	-webkit-transition:all,0.3s;
	-moz-transition:all,0.3s;
	transition:all,0.3s
}
.rss-title{
	valign:top;
	font-size:12px;
	line-height:1.1;
	color: #8B4513;
	margin:0 0 0;
	padding:0 0 0 0;
	font-weight:bold;
	letter-spacing:0.05rem;
	line-height:1.1;
	position:relative; 
	top:-10px;
	left: -10px;
	white-space: normal !important; /** wraps text **/
}
.rss-list-divider {
	valign:top;
	font-size:12px;
	line-height:1;
	margin-top: 5px;
	color: #8B4513;
	font-weight:bold;
	letter-spacing:0.05rem;
	position:relative; 	
}
.rss-more{
	valign:top;
	align:right;
	font-size:10px;
	line-height:.75;
	color: #8B4513;
	margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 80%;
    /** margin:5px -20px 5px 50px ; top, right, bottom left **/
	padding:0 0 0 0;
	font-weight:bold;
	letter-spacing:0.05rem;
	position:relative; 
	/**top:5px;
	right:-20px;
	**/
	white-space: normal !important; /** wraps text **/
}
.rss-date{
	font-size:8px;
	margin:0 0 0;
	padding:0 0;
	color:rgba(0,0,0,0.4);
	position:relative; 
	top:-5px;
	left: -10px;
}
.rss-date a{
	color:rgba(0,0,0,0.4)
}
.rss-date a span{
	color:#06f
}
.rss-date a span:hover{
	text-decoration:underline
}
.rss-description{
	font-size:10px;
	width:180px;
	height:auto;
	position: relative;
	top: -15px;
	left: -10px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	color:rgba(0,0,0,0.6);
	-ms-word-break: break-word;
    word-break: break-word; /* Non standard for webkit */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    white-space: normal !important; /** wraps text **/
}
#rss-collapsible-friends-content { /**http://jsfiddle.net/Gajotres/GNAXT/ **/
    margin-left: 8px !important; 
    border-width: 3px !important; 
    border-color: #e9e9e9!important;
}
#rss-collapsible-my-content { 
	margin-left: 9px !important; 
    border-width: 3px !important; 
    border-color: #e9e9e9!important;
}
.rss-collapsible-color .ui-btn-inner{
    background: #8B4513!important;
    border-color: rgba(204,244,204,0.9);
}
.rss-collapsible-color ul li .ui-btn-inner{
    background-color: #8B4513!important;
    border-color: rgba(204,244,204,0.9);
}
.rss-collapsible {
    margin-left: 5 !important;
    background:#ffffb0!important;
    color: #8B4513;
    margin-top: 5px;
    margin-bottom: 2px;
    /** max-height:35px; **/
}
.ui-content {
    padding: 0 !important;
}

.ui-listview {
    margin: 0 !important;
}
.behind {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.behind a.ui-btn {
    width: 68px;
    margin: 0px;
    float: right;
    border: none;
}
.behind a.delete-btn, .behind a.delete-btn:active, .behind a.delete-btn:visited, .behind a.delete-btn:focus, .behind a.delete-btn:hover {
    color: white;
    background-color: red;
    text-shadow: none;
}
.behind a.ui-btn.pull-left {
    float: left;
}
.behind a.edit-btn, .behind a.edit-btn:active, .behind a.edit-btn:visited, .behind a.edit-btn:focus, .behind a.edit-btn:hover {
    color: white;
    background-color: orange;
    text-shadow: none;
}